.c1 {
  margin: 4rem 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text h1{
  width: 85%;
  text-align: start;
  font-size: 2.1rem;
  font-weight: 800;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text p{
  width: 100%;
  text-align: start;
  font-size: 1.1rem;
  font-weight: 500;
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.image {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: space-between;
  z-index: -99;
}

.image img {
  width: 49%;
  height: 350px;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}
.image img:nth-child(2) {
  position: absolute;
  top: -20%;
  right: 0;
}
@media screen and (max-width: 850px) {
  .c1 {
    margin: 4rem 2rem;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 2.5rem;
  }
  .text {
    width: 100%;
  }
  .image {
    width: 100%;
    margin: 1.8rem 0;
  }
  .image img {
    height: 250px;
  }
}
